<div class="sorting-component">
    <button title="By title" (click)="emitSort('title')"><i class="fa fa-fw fa-2x fa-sort-alpha-asc"></i></button>
    <button title="By length"  (click)="emitSort('length')"><i class="fa fa-fw fa-2x fa-clock-o"></i></button>
    <button title="By category"  (click)="emitSort('category')"><i class="fa fa-fw fa-2x fa-object-group"></i></button>
    <button><i class="fa fa-fw fa-2x fa-sort-amount-asc"></i></button>
    <button><i class="fa fa-fw fa-2x fa-sort-amount-desc"></i></button>
    <button><i class="fa fa-fw fa-2x fa-calendar-plus-o"></i></button>
    <button><i class="fa fa-fw fa-2x fa-calendar-minus-o"></i></button>
</div>