html, body{
    height:100vh;
    margin:0;
    padding:0;
    font-family: 'Lao UI', 'Helvetica';
}
.flex-container{
    display: flex;
    flex-grow:1;
}
.flex-wrap{
    flex-wrap: wrap;
}
.main-container{
    display: flex;
    height:100%;
    flex-direction: row;
}

#previews{
    /*padding: 15px;*/
    /*background: darkgray;*/
}
#details{
    padding:15px;
}
.preview{
    display: flex;
    flex-grow:1;
    flex-direction: column;
    font-size: .8em;
    /*padding: 5px;*/
}
.image-preview{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    flex-basis:100%;
    flex-grow: 1;
    margin:5px;
}