<div class="flex-100 flex-container flex-col" style="margin:5px;">
    <button (click)="previous()">Previous</button>
    <div class="flex-wrap flex-100 flex-container">
        <div class="flex-25" style="display:flex" *ngFor="let vid of videos" (click)="select(vid)" [ngClass]="{selected: vid===video}">
            <div class="preview">
                <div class="image-preview" [style.background-image]="vid.url">
                </div>
                <span class="title">{{vid.title}}</span>
                <span class="length">{{vid.length}}</span>
            </div>
        </div>
    </div>
    <button (click)="next()">Next</button>
</div>