.length{
    margin: 5px;
}
.title{
    flex-basis:20%;
}

.preview{
    display: flex;
    flex-grow:1;
    flex-direction: column;
    font-size: .8em;
    border:1px solid lightgray;
    margin: 5px;
    /*padding: 5px;*/
}
button{
    margin: 5px;
}